body{
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f8f9fa;
  display: block;
  position: relative;
  margin: 0 0;
  z-index: 0;
}
body::after{
  background-image:  url("../images/background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  content: "";
  opacity: 0.15;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1; 
}
h3{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
p{
  color: black;
}

/* Section TOP */
#title{
  color: #0b0b0b;
}
.container-fluid{
  padding: 0 10%;
}

/* Navigation Bar */
.navbar-brand{
  padding: 0 0 0 15px;
}
.navbar-nav{
  align-items: center;
}
.nav-item{
  padding: 0 5px;
  font-size: 1.1rem;
  font-weight: bold;
}

/* Title Text */
.title-text{
  padding: 5px 0 0 0;
  border-radius: 0px 20px;
}
.title-div-text{
  padding: 4rem 0 10px 0;
  text-align: center;
  font-size: 3.8rem;
  line-height: 4rem;
 }
 .title-div-text2{
  padding: 1.2rem 0 0 0;
  text-align: center;
  font-size: 2rem;
 }
 .top-text{
  padding: 0.5rem 0 0 0;
  font-size: 1rem;
 }
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* About Us */

#titulo-nosotros{
  text-decoration: underline;
  margin: 1% 0 0 0;
  font-size: 4rem;
}
#about-us{
  background-color: #02bc02;
  color: white;
  text-align: center;
}
.nosotros-text-r{
  padding: 2% 5% 0 5%;
  font-family: 'Roboto', sans-serif;
  text-align: right;
  font-size: 1.5rem;
  line-height: 3rem;
}
.nosotros-text-l{
  padding: 2% 5% 0 5%;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 1.5rem;
  line-height: 3rem;
}
.nosotros-img{
  border-radius: 5%;
  max-width: auto;
  max-height: auto;
}
.carousel-item{
  padding: 5% 15%;

}


/* Section FEATURES */
#features{
  padding: 3% 15%;
}
.feature{
  text-align: center;
  padding: 0 8%;
}
.h3-under{
text-decoration: underline;
}
.icon{
  margin-bottom: 1rem;
}
.icon:hover{
  color: #138e00;
}








/* Section CONTACT */
#contact{
  padding: 1% 0 3% 0;
  background-color: #02bc02;
  color: white;
}
.text-optional{
  color: whitesmoke;
}
.lead{
  color: white;
}
.contact-text{
  padding: 10% 0 0 10%;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 1.5rem;
  line-height: 3rem;
  color: white;
}



#pricing{
  display: none;
}
#cta{
  display: none;
}
#footer{
  display: none;
}
.formulario-contacto{
  
}

/*GENERAL STYLE
body {
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 0;
}
body::after{
  background-image:  url("../images/background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  content: "";
  opacity: 0.35;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1; 
}
h1{
  font-size: 2.5rem;
  margin: 0;
}
h3{
  font-size: 1.5rem;
  margin: 0;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

/*NAV HEADER
.logo-nav{
  display: none;
}



/*DIV TOP-BOX
.top-box{
  display: inline-block;
  position: relative;
}
.top-img{
  padding-block: 20px;
  padding-inline: 20px;
  width: 50%;
}
.building{
  width: 100%;
}
#texto{
  position: absolute;
  top: 1px;
}

/*DIV MIDDLE-BOX
.middle-box{
  display: inline-block;
}

/*DIV DESCRIPTION
.description{
  width: 70%;
  margin: 50px auto;
  text-align: left;
  line-height: 2;
}
.logo-pa{
  width: 55%;
  float: left;
  margin-right: 70px;
}

/*DIV CONTACT-ME
.contact-me{
  width: 70%;
  margin: 50px auto;
  text-align: right;
  line-height: 2;
  display: inline-block;
}
.form{
  width: 50%;
  float: right;
  margin-left: 70px;
}
.table{
  margin: auto;
  text-align: center;
  border-style: solid;
  background-color: tomato;
  width: 70%;
}
