html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f8f9fa;
  display: block;
  position: relative;
  margin: 0 0;
  z-index: 0;
}

body::after{
  background-image: url("../images/building.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  content: "";
  opacity: 0.2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1; 
}
h3{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
p{
  color: black;
}

/* Section TOP */
#title{
  color: #0b0b0b;
}
.container-fluid{
  padding: 0 10%;
  margin: 0;
}


  /* Navigation Bar */
  .navbar-brand{
    padding: 0 0 0 15px;
  }
  @media (max-width: 1028px){
    .navbar-brand{
      padding: 0;
    }
  }
  .navbar-nav{
    align-items: center;
  }
  .nav-item{
    padding: 0 5px;
    font-size: 1.1rem;
    font-weight: bold;
  }


  /* Title Text */
  .title-text{
    padding: 0;
    border-radius: 0px 20px;
  }
  @media (max-width: 1028px){
    .title-text{
      padding: 0 10% 50% 10%;
    }
  }
  .title-div-text{
    padding: 4rem 0 10px 0;
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
  }
  .title-div-text2{
    padding: 1.2rem 0 0 0;
    text-align: center;
    font-size: 2rem;
  }
  .top-text{
    padding: 0.5rem 0 0 0;
    font-size: 1rem;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 1028px){
    .img-app-title{
      display: none;
    }
  }

/* About Us */
#titulo-nosotros{
  margin: 1% 0 0 0;
  font-size: 3rem;
}
@media (max-width: 1028px){
  #titulo-nosotros{
    font-size: 1.9rem;
    padding-bottom: 20%;
  }
}
#about-us{
  background-color: #007f00c5;
  color: white;
  text-align: center;
}
@media (max-width: 1028px){
  #about-us{
  min-height: 500px;
  }
}
.nosotros-text-r{
  padding: 2% 5% 0 5%;
  font-family: 'Roboto', sans-serif;
  text-align: right;
  font-size: 1.2em;
  line-height: 3rem;
}
@media (max-width: 1028px){
  .nosotros-text-r{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 0 0 0;
  }
}
.nosotros-text-l{
  padding: 2% 5% 0 5%;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 1.2rem;
  line-height: 3rem;
}
@media (max-width: 1028px){
  .nosotros-text-l{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 0 0 0;
  }
}
.nosotros-img{
  border-radius: 5%;
  max-width: auto;
  max-height: auto;
  display: block;
}
@media (max-width: 1028px){
  .nosotros-img{
  display: none;
  }
}

.carousel-item{
  padding: 5% 15%;

}

/* Section FEATURES */
#features{
  padding: 0 0;
  background-color: rgb(25, 25, 25);
  z-index: 1;
  position: relative;
}
@media (max-width: 1028px){
  #features{
    background-color: #232323c5;
  }
}
.vieobg{
  z-index: -2;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}
#myVideo{
  opacity: 0.15;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1028px){
  .videoblog-div{
    display: none;
  }
}

.content{
  color: white;
  padding: 15% 7%;
  z-index: 2;
}
.feature{
  color: white;
  text-align: center;
  padding: 4% 8%;
}
.h3-under{
text-decoration: underline;
}
.icon{
  color: white;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #138e00;
}

/* Section BENEFICIOS */
#beneficios{
  text-align: center;
}
.card-header{
  font-size: 1.5rem;
}
.conteiner-fluid-try{
  padding: 2% 10%;
}
.try-header{
  padding: 2% 0 2% 0;
  font-size: 3rem;
}
@media (max-width: 1028px){
  .try-header{
  font-size: 1.9rem;
  }
}
  
.try-header2{
  padding: 1% 0 2% 0;
  font-size: 1.5rem;
}
@media (max-width: 1028px){
  .try-header2{
  font-size: 1.1rem;
  }
}
.app-div{display: none;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  margin-top: .5rem!important;
}
.item-app{
  padding: 0;
}
.list-group-item{
  text-align: left;
}
.ok-icon{
  color: #008c00;
}

/* Section PAYMENT */
#payment{
  padding: 0 5%;
  text-align: center;
}
.conteiner-fluid-pay{
  padding: 0 0 8% 0;
}
.pay-header{
  padding: 2% 0 5% 0;
  font-size: 2.5rem;
}
@media (max-width: 1028px){
  .pay-header{
    font-size: 1.8rem;
  }
}
@media (max-width: 1028px){
  .pay-icon{
    max-width: 25%;
    height: auto;
    padding: 3% 0;
  }
}


/* Section CONTACT */
#contact{
  padding: 0 0 2% 0;
  background-color: #007f00c5;
  color: white;
}
.text-optional{
  color: gray;
}
.lead{
  color: white;
}
#titulo-nosotros-2{
  margin: 1% 0 0 0;
  font-size: 3rem;
}
@media (max-width: 1028px){
  #titulo-nosotros-2{
    font-size: 2rem;
    padding-bottom: 5%;
  }
}
.contact-text{
  padding: 0 0 5% 0;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 1.5rem;
  color: white;
}
.formulario-contacto-in{
  color: black;
  background-color: white;
  padding: 3%;
  border-style: solid;
  border-radius: 3%;
  border-color: gray;
}
@media (max-width: 1028px){
  .formulario-contacto{ 
    padding: 0 2%;  
  }
}

.titulo-form{
  text-align: center;
}

/* FOOTER */
#footer{
  text-align: center;
  }
.footer-text{
  margin-bottom: 0;
}



